run = "npm run start"
hidden = [".config"]
modules = ["nodejs-18:v11-20230920-bd784b9", "web:v2-20230623-0b7a606"]

[nix]
channel = "stable-22_11"

[deployment]
deploymentTarget = "static"
publicDir = "dist"
run = ["sh", "-c", "npm run start"]
