@use "mixins";

.header {
  align-self: stretch;
  @include mixins.flex-style($justify-content: center);
  position: relative;
  min-height: 20rem;

  @include mixins.desktop-screen {
    min-height: 30rem;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    @include mixins.bg-img-setup("../images/bg-mobile-light.jpg", cover);
    z-index: -1;
    transition: background-image var(--transition-timing) ease-in-out;

    :root:has(.container--isDark) & {
      background-image: url("../images/bg-mobile-dark.jpg");
    }

    @include mixins.desktop-screen {
      background-image: url("../images/bg-desktop-light.jpg");

      :root:has(.container--isDark) & {
        background-image: url("../images/bg-desktop-dark.jpg");
      }
    }
  }

  &__header-container {
    flex: 1;
    @include mixins.flex-style($justify-content: space-between);
    margin-top: calc(var(--default-padding) * 2.3);

    @include mixins.desktop-screen {
      margin-top: calc(var(--default-padding) * 4.3);
    }
  }

  &__toggle-theme-button {
    width: 2rem;
    height: 2rem;
    @include mixins.bg-img-setup("../images/icon-moon.svg");
    transition: background-image 0.3s ease-in-out;

    body:has(.container--isDark) & {
      background-image: url("../images/icon-sun.svg");
    }
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-size: 2.8rem;
    color: var(--color-white);
  }
}
