@mixin flex-style($direction: row, $gap: 0, $justify-content: flex-start, $align-items: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

@mixin bg-img-setup($url, $size: contain){
  background-image: url($url);
  background-size: $size;
  background-repeat: no-repeat;
}

@mixin desktop-screen {
  @media (min-width: 560px) {
    @content;
  }
}

