:root {
  --mobile-width: 32.5rem;
  --desktop-width: 54rem;
  --default-padding: 2rem;
  --default-radius: 0.5rem;
  --color-white: #fff;
  --transition-timing: 0.4s;
  --check-background: linear-gradient(
    135deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --bright-blue: hsl(220, 98%, 61%);

  // Light Theme
  --very-light-gray: hsl(0, 0%, 98%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);

  // Dark Theme
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --very-dark-grayish-blue-dark-theme: hsl(233, 14%, 35%);
  --light-grayish-blue-dark-theme: hsl(234, 39%, 85%);
  --very-dark-blue: hsl(235, 21%, 11%);
  // --light-grayish-blue (hover): hsl(236, 33%, 92%);
  --dark-grayish-blue-dark-theme: hsl(234, 11%, 52%);
}
